{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        Sorry, you're not good enough
      </h1>

      <p>You do not have the required skill level to be eligible for a juggling license.</p>

      <p>You should practise until you get better.</p>

    </div>
  </div>
</main>

{% endblock %}
